@import url(../variables.css);
.main {
	grid-area: contenido;
	width: 100%;
	height: 100%;
	font-size: clamp(
		0.875rem,
		1.39vw,
		1.875rem
	); /*minimum value, a preferred value, and a maximum allowed value.*/
	background: var(--color-white);
	color: var(--fondo-black);
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 90% 1fr;
	grid-template-areas:
		'products'
		'buttons';
}
.mainFeatured {
	height: 90%;
}
.mainFeatured__Container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	/* gap: 3%; */
	justify-items: center;
	align-items: center;
	width: 95%;
	/* max-width: 90%; */
	height: 100%;
	margin: 0 auto 1rem;
	padding: 0 5%;
}

.mainFeatured__Container--Card {
	border: 1px solid #dedbdb;
	border-radius: 5%;
	box-shadow: 0px 4.00727px 4.00727px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	object-fit: contain;
	text-align: center;
	height: 85%;
	width: 90%;
	max-width: 30vh;
	margin-bottom: 20px;
	position: relative;
}
.mainFeatured__Container--Card:hover {
	box-shadow: 0px 4.00727px 4.00727px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
	transition: all 0.8s ease;
}
.mainFeatured__Container--cardImg {
	object-fit: contain;
	width: 90%;
	height: 70%;
	padding: 1vw 0;
	border-bottom: 0.3rem solid #000000;
}
.mainFeatured__Container--CardDescriptionBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 27%;
	gap: 0.5em;
}
.mainFeatured__Container--CardDescription {
	font-family: 'Poppins';
	font-size: clamp(0.8rem, 2.2vw, 1.3rem);
	font-style: normal;
	font-weight: 400;
	height: 5vh;
}
.mainFeatured__Container--CardPrice {
	font-family: 'Poppins';
	font-size: clamp(0.8rem, 1.7vw, 1.3rem);
	font-weight: 400;
	/* line-height: 3.5vw; */
	max-height: 5vh;
	margin-bottom: 0.2em;
}
.mainFeatured__Container--CardIcons {
	position: absolute;
	width: 2.25em;
	bottom: 0.2em;
	right: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.mainFeatured__Container--CardDelete:hover,
.mainFeatured__Container--CardEdit:hover {
	color: var(--color-primary);
}

.buttons {
	display: flex;
	justify-content: center;
	margin: 0 auto 1vw auto;
	align-items: center;
}
.bt__Slider {
	background: transparent;
	border: none;
}
.btbox__Slider {
	border: 1px solid #dedbdb;
	border-radius: 50%;
	position: relative;
	height: 3em;
	width: 3em;
}
.btbox__Slider:hover {
	background-color: var(--color-primary);
	transform: scale(1.2);
}
.btnimg__Slider {
	color: #dedbdb;
	height: auto;
	position: absolute;
	right: 32%;
	top: 15%;
	width: 1em;
}

.mainFeatured__Container--pagenumbers {
	margin: 0 2vw;
}
.mainFeatured__Container--pagenumbers--button {
	background-color: #ffffff;
	border: 1px solid var(--color-primary);
	width: 2.1rem;
	cursor: pointer;
	appearance: none;
	transition: 0.5s;
	font-size: 1.1rem;
}
.mainFeatured__Container--pagenumbers--button:hover {
	background-color: var(--color-primary);
}
.mainFeatured__Container--pagenumbers--button.active {
	background-color: var(--color-primary);
}

@media screen and (max-width: 950px) {
	.mainFeatured {
		padding: initial;
	}
	.mainFeatured__Container {
		padding: initial;
	}
	.mainFeatured__Container--Card {
		min-width: 120px;
	}
	.buttons {
		margin-top: 1vw;
		margin-bottom: 0.7vw;
	}
}

@media screen and (max-width: 500px) {
	.mainFeatured__Container {
		grid-template-columns: 1fr;
		width: 75vw;
		gap: 3%;
		overflow-y: scroll;
	}
	.mainFeatured__Container--Card {
		min-width: 70%;
		box-shadow: 0px 4.00727px 4.00727px rgba(0, 0, 0, 0.25);
		border-radius: 4.2vw;
		width: 39vw;
		max-height: 58.3vw;
		height: 100%;
	}
	.mainFeatured__Container--CardDescription {
		font-size: clamp(0.6rem, 4vw, 1.9rem);
	}
	.mainFeatured__Container--CardPrice {
		font-size: clamp(0.7rem, 4vw, 1.3rem);
	}
	.btbox__Slider {
		height: 2rem;
		width: 2rem;
	}
	.btnimg__Slider {
		color: #dedbdb;
		height: auto;
		position: absolute;
		right: 30%;
		top: 15%;
		width: 0.7rem;
	}
}
