*{
    font-family: var(--fuente_principal);
}
body {        
    margin: 0;
    padding: 0;
    line-height: 1;    
    overflow-x: hidden;
}
.app{    
    display: grid;
    width: 100vw;
    height: auto;     
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "header     header      header"
        "contenido  contenido   contenido"
        "contenido  contenido   contenido"
        "footer     footer      footer";    
}