
.footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: auto;
}



.footerLinks__li > a,
.footerLinks__A {
    color: #DEDBDB;
    text-decoration: none;
}


.footer >.footerLinks {
    /* footerLinks */
    grid-column: 1/7;
    background: #2D2D33;
  

   
}

.footerLinks__li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto
}
.footerLinks__List{
    list-style:none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    padding: 1rem;
    
}

.footerInfo,
.subscribe,
.copyright{
    grid-column: span 2;
     background: #2E367B;
     padding: 0 2rem ;
}



.footer__H5{
    color: #FF4F11
}

.footerInfo__str-p {
    color: #FFFFFF;
}




.footerInfo__subscribe--input{
    border-radius: 0.5em;
    color: #B3B1B1;
    width: 80%;
}


