.footer {
	font-size: clamp(0.7rem, 2vw, 1rem);
	color: var(--color-white);
	line-height: 2vw;
	display: grid;
	grid-template-columns: 1fr 1.8fr 0.8fr;
	grid-template-rows: 1fr 2fr;
	grid-template-areas:
		'nav nav nav'
		'info subscribe copyright';
}
.footer__nav {
	grid-area: nav;
	background: #2d2d33;
	display: flex;
	flex-direction: column;
}
.footer__nav-links {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, calc(100vw / 6));
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.footer__info-title,
.footer__subscribe-title,
.footer__copyright-title {
	color: var(--color-primary);
	font-size: 0.8em;
}

.footer__subscribe {
	grid-area: subscribe;
	padding: 3vw 0;
}
.footer__subscribe-input {
	box-sizing: border-box;
	width: 100%;
	height: 2.5em;
	background: #fdf9f9;
	border: 1px solid #ffffff;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	padding-left: 1.5rem;
	margin-top: 0.3em;
}

.footer__info {
	grid-area: info;
	padding: 2vh 3vw;
}
.footer__info-text {
	font-size: 0.7em;
}

.footer__copyright {
	grid-area: copyright;
	text-align: center;
	padding: 2vh 4vw 0;
}
.footer__copyright-img {
	width: 9.5em;
	height: auto;
	padding: 1vh;
}

@media screen and (max-width: 800px) {
	.footer {
		line-height: 3vw;
	}
}
@media screen and (max-width: 475px) {
	.footer {
		line-height: 4vw;
		grid-template-columns: 50vw 50vw;
		grid-template-rows: 1fr 0.7fr 1fr;
		grid-template-areas:
			'nav nav'
			'subscribe subscribe'
			'info copyright';
	}

	.footer__nav-links {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
	}

	.footer__subscribe {
		padding: 5vw 5vw 0;
	}
	.footer__copyright {
		padding: 2vh 5vw 0 17%;
	}
}
