@import url(../variables.css);
.bannerBox {
	height: auto;
	width: 100vw;
}
.imgBanner {
	height: auto;
	width: 100vw;
}
.mainProductos {
	margin-right: 1vw;
}

.subProductsBox__title {
	color: var(--fondo);
	font-family: 'Poppins';
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: 38px;
	padding-left: 80px;
	margin-top: 34px;
	margin-bottom: 26px;
}
.bt__Slider {
	background: transparent;
	border: none;
}
.btbox__Slider {
	border: 1px solid #dedbdb;
	margin-left: 1rem;
	margin-bottom: 1rem;
	border-radius: 50%;
	height: 3rem;
	position: relative;
	width: 3rem;
}
.btnimg__Slider {
	color: #dedbdb;
	height: auto;
	position: absolute;
	right: 38%;
	top: 18%;
	width: 0.9rem;
}

.btbox__Slider:hover {
	background-color: var(--color-primary);
	transform: scale(1.3);
}

.container__Products {
	align-items: center;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-items: center;

	width: 95%;
	height: 100%;
	margin: 0 auto 1rem;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0 5%;
}

/* .buttons{ */
.botones {
	/*se cambió el nombre de la clase*/
	display: flex;
	justify-content: center;
	margin: 0 auto 1vw auto;
	align-items: center;
}

.mainFeatured__Container--Card {
	border: 1px solid #dedbdb;
	border-radius: 5%;
	cursor: pointer;
	height: 85%;
	object-fit: cover;
	text-align: center;
	width: 90%;
	max-width: 266px;
}

.mainFeatured__Container--Card:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
	transition: all 0.8s ease;
}

.mainFeatured__Container--cardImg {
	object-fit: contain;
	width: 90%;
	height: 70%;
	padding: 1vw 0;
	border-bottom: 0.3rem solid #000000;
}

.mainFeatured__Container--CardDescriptionBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 25%;
}

.mainFeatured__Container--CardDescription {
	font-family: 'Poppins';
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	height: 24px;
	font-size: 2.7vw; /*13px*/
	font-style: normal;
	font-weight: 400;
	line-height: 4.4vw; /*21px*/
	height: 5vw; /*24px*/
}

.mainFeatured__Container--CardPrice {
	font-family: 'Poppins';
	font-size: 17px;
	font-weight: 800;
	line-height: 18px;
	max-height: 23px;

	font-size: 3.6vw; /*17px*/
	font-weight: 800;
	line-height: 3.8vw; /*18px*/
	max-height: 4.85vw; /*23px*/
}

.botones {
	/*.buttons-> se sugiere cambiar el nombre de la clase*/
	display: flex;
	margin: 0 auto 1vw auto;
	align-items: center;
}
.bt__Slider {
	background: transparent;
	border: none;
}
.btbox__Slider {
	border: 1px solid #dedbdb;
	border-radius: 50%;
	height: 7rem;
	width: 7rem;
	position: relative;
	align-items: center;
}

.bt__SliderRight {
	margin-right: 1rem;
}
.bt__SliderLeft {
	margin-left: 1rem;
}
.btnimg__Slider {
	color: #dedbdb;
	height: auto;
	position: absolute;
	right: 38%;
	top: 18%;
	width: 0.9rem;
}
.btbox__Slider:hover {
	background-color: var(--color-primary);
	transform: scale(1.3);
}

.mainFeatured__Container--pagenumbers {
	margin: 2.1vw;
}
.bannerBox {
	height: auto;
	width: 100vw;
}
.imgBanner {
	height: auto;
	width: 100vw;
}
.mainBanner__bottom {
	margin-top: 5vh;
}

@media screen and (max-width: 800px) {
	.subProductsBox {
		margin: 0 20px;
	}
	.subProductsBox__title {
		font-size: 20px;
		line-height: 30px;
		padding: 0;
		margin: 0.5rem;
	}
	.mainFeatured__Container--CardDescription {
		font-size: 10px;
		line-height: 15px;
	}

	.mainFeatured__Container--CardPrice {
		font-size: 12px;
		line-height: 18px;
	}
	.botones {
		/*83px de alto incluidos paddings*/
		margin-top: 1vw;
		margin-bottom: 0.7vw;
	}
	.btbox__Slider {
		height: 4rem;
		width: 4rem;
	}
}

@media screen and (max-width: 475px) {
	.mainProducts {
		max-height: 148vw;
		/*height: 699px;*/
	}
	.mainProductsBox {
		max-height: 147.89vw;
	}
	.subProductsBox__title {
		/*46px de alto*/
		font-size: 4.3vw; /*20px*/
		line-height: 6.3vw; /*30px*/
		padding-left: 10.3; /*49px*/
	}
	.subProductsBox {
		/*579px de alto*/
		max-height: 122.1vw; /*579*/
		margin: 0 auto;
	}
	.container__Products {
		display: flex;
		flex-wrap: wrap;
		height: 160.4vw; /*760px*/
		gap: 3%;
		max-height: 122.1vw;
		width: 70vw;
	}
	.mainFeatured__Container--Card {
		box-shadow: 0px 4.00727px 4.00727px rgba(0, 0, 0, 0.25);
		border-radius: 4.2vw; /*20px*/
		width: 39vw; /*184px;*/
		max-height: 58.3vw; /* = 275px;*/
	}
	.mainFeatured__Container--cardImg {
		width: 100%;
	}
	.mainFeatured__Container--CardDescription {
		font-size: 2vw; /*10px*/
		line-height: 3vw; /*15px;*/
	}

	.mainFeatured__Container--CardPrice {
		font-size: 2.5vw; /*12px;*/
		line-height: 3.8vw; /*18px;*/
		max-height: 4.85vw; /*23px*/
	}
	.botones {
		/*80px de alto incluidos paddings*/
		margin-top: 1vw;
		margin-bottom: 0.7vw;
	}
	.btbox__Slider {
		height: 3.5rem;
		width: 3.5rem;
	}
}
