.footer {
	font-size: clamp(0.7rem, 2vw, 1rem);
	color: var(--color-white);
	line-height: 2vw;
	display: grid;
	grid-template-columns: 1fr 1.8fr 0.8fr;
	grid-template-rows: 1fr 2fr;
	grid-template-areas:
		'nav nav nav'
		'info subscribe copyright';
}
.footer__nav {
	grid-area: nav;
	background: #2d2d33;
	display: flex;
	flex-direction: column;
}
.footer__nav-links {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, calc(100vw / 6));
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.footer__info-title,
.footer__subscribe-title,
.footer__copyright-title {
	color: var(--color-primary);
	font-size: 0.8em;
	width: 100%;
}

.footer__subscribe {
	grid-area: subscribe;
	padding: 2vh 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 4.5rem;
}
.footer__subscribe-input {
	width: 70%;
	height: 2rem;
	background: var(--color_fondo_claro);
	border: 1px solid var(--color-white);
	box-shadow: var(--color_shadow_input);
	border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
	padding-left: 1.5rem;
}
.footer__subscribe-input::-webkit-input-placeholder {
	color: var(--color_input_lettle);
	font-size: clamp(0.8rem, 1.8vw, 1rem);
	padding-left: 0;
}

.footer__subscribe-button {
	display: inline-block;
	font-size: clamp(0.8rem, 1.8vw, 1rem);
	width: 30%;
	height: 2rem;
	background: var(--color-primary);
	border: none;
	box-shadow: var(--color_shadow_input);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
	text-align: center;
	color: var(--color-white);
}

.footer__info {
	grid-area: info;
	padding: 2vh 3vw;
}
.footer__info-text {
	font-size: 0.7em;
}

.footer__copyright {
	grid-area: copyright;
	text-align: center;
	padding: 2vh 4vw 0;
}
.footer__copyright-img {
	width: 9.5em;
	height: auto;
	padding: 1vh;
}

@media screen and (max-width: 820px) {
	.footer {
		line-height: 3vw;
	}
	.footer__subscribe-input {
		padding-left: 0.5rem;
	}
}
@media screen and (max-width: 480px) {
	.footer {
		line-height: 4vw;
		grid-template-columns: 50vw 50vw;
		grid-template-rows: 1fr 0.7fr 1fr;
		grid-template-areas:
			'nav nav'
			'subscribe subscribe'
			'info copyright';
	}

	.footer__nav-links {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
	}

	.footer__subscribe {
		padding: 5vw 5vw 0;
	}
	.footer__copyright {
		padding: 2vh 5vw 0 17%;
	}
}
