@import url(../variables.css);
.bannerBox {
	height: auto;
	width: 100vw;
}
.imgBanner {
	height: auto;
	width: 100vw;
}

.mainProductos {
	margin-right: 1vw;
}
.subProductsBox__title {
	font-family: 'Poppins';
	font-size: 2.5vw;
	font-style: normal;
	font-weight: 700;
	line-height: 6vh;
	padding-left: 10vw;
	margin-top: 4vh;
	margin-bottom: 1vh;
}
.container__Products {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	width: 95%;
	height: 100%;
	margin: 0 auto 1rem;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0 5%;
}
.mainFeatured__Container--Card {
	border: 1px solid #dedbdb;
	border-radius: 5%;
	cursor: pointer;
	height: 85%;
	object-fit: contain;
	text-align: center;
	width: 90%;
	max-width: 30vh;
}
.mainFeatured__Container--Card:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
	transition: all 0.8s ease;
}
.mainFeatured__Container--cardImg {
	object-fit: contain;
	width: 90%;
	height: 70%;
	padding: 1vw 0;
	border-bottom: 0.3rem solid #000000;
}
.mainFeatured__Container--CardDescriptionBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 25%;
}
.mainFeatured__Container--CardDescription {
	font-family: 'Poppins';
	font-size: 2.5vw;
	font-style: normal;
	font-weight: 400;
	line-height: 4.4vh;
	height: 5vh;
}
.mainFeatured__Container--CardPrice {
	font-family: 'Poppins';
	font-size: 1.6vw;
	font-weight: 800;
	line-height: 3.5vw;
	max-height: 4.85vw;
}

.buttons {
	display: flex;
	justify-content: center;
	margin: 0 auto 1vw auto;
	align-items: center;
}
.bt__Slider {
	background: transparent;
	border: none;
	/* width: 3em;
	height: 3em; */
}
.btbox__Slider {
	border: 1px solid #dedbdb;
	/* margin: 0 1rem; */
	/* margin-bottom: 1rem; */
	border-radius: 50%;
	position: relative;
	height: 3em;
	width: 3em;
}
.btbox__Slider:hover {
	background-color: var(--color-primary);
	transform: scale(1.2);
}
.btnimg__Slider {
	color: #dedbdb;
	height: auto;
	position: absolute;
	right: 32%;
	top: 15%;
	width: 1em;
}

.mainFeatured__Container--pagenumbers {
	margin: 0 2vw;
}
.mainFeatured__Container--pagenumbers--button {
	background-color: #ffffff;
	border: 1px solid var(--color-primary);
	width: 2.1rem;
	cursor: pointer;
	appearance: none;
	transition: 0.5s;
	font-size: 1.1rem;
}
.mainFeatured__Container--pagenumbers--button:hover {
	background-color: var(--color-primary);
}
.mainFeatured__Container--pagenumbers--button.active {
	background-color: var(--color-primary);
}

@media screen and (max-width: 800px) {
	.subProductsBox__title {
		font-size: 3.5vw;
		margin: 0.5rem;
	}

	.mainFeatured__Container--CardDescription {
		font-size: 10px;
		line-height: 15px;
	}

	.buttons {
		margin-top: 1vw;
		margin-bottom: 0.7vw;
	}

	.mainFeatured__Container--pagenumbers--button {
		font-size: 1rem;
	}
}

@media screen and (max-width: 475px) {
	.subProductsBox__title {
		font-size: 5.3vw;
	}
	.subProductsBox {
		max-height: 122.1vw;
		margin: 0 auto;
	}
	.container__Products {
		display: flex;
		flex-wrap: wrap;
		height: 160.4vw;
		gap: 3%;
		max-height: 122.1vw;
		width: 70vw;
		justify-content: center;
	}
	.mainFeatured__Container--Card {
		box-shadow: 0px 4.00727px 4.00727px rgba(0, 0, 0, 0.25);
		border-radius: 4.2vw;
		width: 39vw;
		max-height: 58.3vw;
	}
	.mainFeatured__Container--cardImg {
		width: 100%;
	}
	.mainFeatured__Container--CardDescription {
		font-size: 2vw;
		line-height: 3vw;
	}

	.mainFeatured__Container--CardPrice {
		font-size: 4.5vw;
	}
	.btbox__Slider {
		height: 2rem;
		width: 2rem;
	}
	.btnimg__Slider {
		color: #dedbdb;
		height: auto;
		position: absolute;
		right: 30%;
		top: 15%;
		width: 0.7rem;
	}
}