.error__active {
	background-color: #fff3f3;
	border: 1px solid #ff0000;
	border-radius: 10px;
	color: #ff0000;
	display: inline-block;
	font-size: 14px;
	padding: 10px;
	position: absolute;
	text-align: center;
}

  .error__active::before {
	  border-bottom: 10px solid transparent;
	  border-right: 10px solid #ff0000;
	border-top: 10px solid transparent;
	content: "";
	height: 0;
	position: absolute;
	top: 50%;
	left: 0%;
	margin-left: -10px;
	width: 0;
}
#error__pass,#error__email{
	left: 100%;
	width: 200px;
}
#error__pass{
	top: 60%;
}
#error__email{
	top: 50%;
}
.error__inactive{
	display: none;
}
.modal {
	display: none;
	position: absolute;
	z-index: 1;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.418);
}
.modal__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
@keyframes modal {
	from {
		top: -200%;
		opacity: 0;
	}
	to {
		top: 50%;
		opacity: 1;
	}
}

.modal__base {
   	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
	width: 45rem;
	height: 20rem;
    margin: auto;
	background-color: rgba(46, 54, 123, 1);
	display: flex;
	animation-name: modal;
	animation-duration: 1s;
}
.modal__base--reg {
	flex-direction: row-reverse;
}


.modal__empty {
	width: 52%;
}
.modal__empty--reg {
	width: 48%;
}

.modal__register{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.modal__login{
    width: 52%;
    display: flex;
    flex-direction: column;
	padding-left: 2.5rem;
}

.modal__close {
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
    position: relative;
    right: -20.5rem ;
    top: 0.7rem;
}
.modal__close--reg {
    right: -41.5rem ;
    top: 0.5rem;
}

.modal__close:hover {
	color: var(--color-primary);
	cursor: pointer;
}

.modal__question {
	padding: 3.5rem 0;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}
.modal__phrase {
    color: #fff;
	font-size: 0.9rem;
    padding-bottom: 2rem;
}
.modal__newAccount,
.modal__toAccount {
	width: 7rem;
	height: 2rem;
	border: 1px solid white;
	background: #2e367b;
	color: #fff;
	cursor: pointer;
}

.modal__principal {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: -1rem;
	left: 1.5rem;
	background: #ffffff;
	width: 18rem;
	height: 22rem;
	border-radius: 9px;
}
.modal__principal--reg {
	left: 25.5rem;
}
#modal-Reg{
	position: relative;
}
.modal__title {
	color: rgba(46, 54, 123, 1);
	font-weight: bold;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	padding: 3.2rem 0;
}
.modal__title--reg {
	padding: 1.8rem 0;
}

.modal__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 6rem;
    gap: 0.5rem;
}
.modal__form--reg {
	height: 12rem;
}
.modal__input {
	display: flex;
	justify-content: center;
	width: 90%;
	background: #2e367b36;
    /* background-color: #efeaf3; */
	border: none;
	box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	/* border-radius: 5px; */
	height: 2.5rem;
}

::placeholder {
	color: var(--color_input_lettle);
    padding: 0 1rem;
    font-weight: bold;
}

.modal__forget{
	color: var(--color_input_lettle);
	font-size: 0.9rem;
	font-style: italic;
	transition: font-weight 0.5s;
}
.modal__forget:hover{
	font-weight: bold;
}

.modal__footer {
	display: flex;
	justify-content: space-around;
	padding: 3.7rem 0;
}
.modal__footer--reg {
	padding: 1.7rem 0;
}
.modal__access {
    width: 6.5rem;
    height: 1.8rem;
    background-color: rgba(46, 54, 123, 1);
    color: white;
    border: none;
    cursor: pointer;
}
.modal__logo {
	height: 1.6rem;
	width: 6rem;
}

.modal__access:active,
.modal__toAccount:active,
.modal__newAccount:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
	background: var(--color-primary);
}

@media screen and (max-width: 735px) {
	.modal__base {
		width: 22rem;
		transform: translate(-50%, 0%);
	}
	.modal__empty {
        display: none;
    }
	.modal__close {
		z-index: 5;
		color: #000;
		/* font-size: 1.5rem; */
		right: -16rem ;
		top: -17.5rem;
	}
	.modal__register,
	.modal__login{
		width: 100%;
		padding: 2rem 2.5rem;
	}
	.modal__principal {
        top: -18rem;
        left: 2rem;
    }
}